<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	xmlns:amazon="http://schemas.amazon.com/apk/res/android"
	package="com.penthera.sdkdemo"
	android:versionCode="31511000"
	android:versionName="3.15.11">

	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.penthera.sdkdemo.permission.CATALOG"/>
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
 	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.QUICKBOOT_POWERON"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


	<!-- This permission ensures that no other application can intercept your ADM messages. -->
	<permission
		android:name="com.penthera.sdkdemo.permission.RECEIVE_ADM_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.penthera.sdkdemo.permission.RECEIVE_ADM_MESSAGE" />

	<!-- This permission allows your app access to receive push notifications from ADM. -->
	<uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />

    <application
		android:name="android.support.multidex.MultiDexApplication"
		android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Splash -->
        <activity
            android:name="com.penthera.sdkdemo.activity.SplashActivity"
        	android:noHistory="true"
			android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<!-- Player -->
		<activity android:name="com.penthera.sdkdemo.exoplayer.PlayerActivity"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
			android:launchMode="singleTop"
			android:label="Player"
			android:theme="@style/PlayerTheme">
			<intent-filter>
				<action android:name="com.penthera.sdkdemo.exoplayer.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<data android:scheme="content"/>
				<data android:scheme="asset"/>
				<data android:scheme="file"/>
			</intent-filter>
		</activity>

        <!-- Main -->
        <activity
        	android:name="com.penthera.sdkdemo.activity.MainActivity"
			android:screenOrientation="portrait"/>

        <!-- About -->
        <activity
        	android:name="com.penthera.sdkdemo.activity.AboutActivity"
			android:screenOrientation="portrait"/>

        <!-- Catalog Details -->
		<activity
			android:name="com.penthera.sdkdemo.activity.CatalogDetailActivity"
			android:screenOrientation="portrait"/>

        <!-- Diagnostics -->
		<activity
			android:name="com.penthera.sdkdemo.activity.DiagnosticsActivity"
			android:screenOrientation="portrait"/>

        <!-- Devices -->
		<activity
			android:name="com.penthera.sdkdemo.activity.DevicesActivity"
			android:screenOrientation="portrait"/>

        <!-- Settings -->
		<activity
			android:name="com.penthera.sdkdemo.activity.SettingsActivity"
			android:screenOrientation="portrait"/>

        <!-- Subscriptions -->
		<activity
			android:name="com.penthera.sdkdemo.activity.SubscriptionsActivity"
			android:screenOrientation="portrait"/>

		<!-- Meta Data -->
        <meta-data android:name="com.penthera.virtuososdk.client.pckg" android:value="@string/client_package" />
		<meta-data tools:replace="android:value" android:name="com.penthera.virtuososdk.license.manager.impl" android:value="com.penthera.sdkdemo.drm.DemoLicenseManager"/>

		<!-- Service -->
		<service android:name="com.penthera.virtuososdk.service.VirtuosoService"
			android:process=":service"
			android:label="VirtuosoService">
		</service>
		<receiver android:name="com.penthera.virtuososdk.service.VirtuosoService$ServiceMessageReceiver"
			android:label="VirtuosoServiceMessageReceiver"
			android:process=":service"/>

		<!-- HLS Proxy service -->
		<service android:name="com.penthera.virtuososdk.service.VirtuosoClientHTTPService"
			android:label="VirtuosoClientHTTPService"
			android:enabled="true">
		</service>

		<!-- Service Starter -->
		<receiver android:name="com.penthera.sdkdemo.SDKDemoServiceStarter"
			android:enabled="true"
			android:process=":starter"
			android:label="SDKDemoServiceStarter"
			android:directBootAware="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="android.intent.action.QUICKBOOT_POWERON"/>
				<action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
				<action android:name="virtuoso.intent.action.SERVICE_NOTIFICATION_UPDATE" />
				<action android:name="virtuoso.intent.action.DOWNLOAD_UPDATE"/>
				<action android:name="virtuoso.intent.action.CONFIGURE_VIRTUOSO_SERVICE_LOGGING"/>
				<action android:name="virtuoso.intent.action.BACKPLANE_SYNC_DEVICE" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<action android:name="virtuoso.intent.action.START_SERVICE" />
				<data android:scheme="package"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<action android:name="virtuoso.intent.action.START_SERVICE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</receiver>

		<!-- Catalog Provider -->
        <provider android:name="com.penthera.sdkdemo.catalog.CatalogContentProvider"
 			android:authorities="com.penthera.sdkdemo.catalog"
			android:permission="com.penthera.sdkdemo.permission.CATALOG"/>

        <provider android:name="com.penthera.sdkdemo.provider.SdkDemoContentProvider"
			android:authorities="@string/client_package"
			android:process=":provider"/>

		<!-- Notification Receiver -->
        <receiver android:name="com.penthera.sdkdemo.notification.NotificationReceiver"
	    	android:enabled="true"
	    	android:process=":receiver"
	    	android:label="NotificationReceiver">
	    	<intent-filter>
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.NOTIFICATION_DOWNLOAD_START"/>
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.NOTIFICATION_DOWNLOAD_STOPPED"/>
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.NOTIFICATION_DOWNLOAD_COMPLETE"/>
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.NOTIFICATION_DOWNLOAD_UPDATE"/>
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.NOTIFICATION_DOWNLOADS_PAUSED" />
				<action android:name="com.penthera.virtuososdk.provider.reference.NOTIFICATION_MANIFEST_PARSE_FAILED" />

	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_APP_LAUNCH" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_QUEUE_FOR_DOWNLOAD" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_ASSET_REMOVED_FROM_QUEUE" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_DOWNLOAD_START" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_DOWNLOAD_COMPLETE" />
                <action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_DOWNLOAD_ERROR" />
                <action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_MAX_ERRORS_RESET" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_ASSET_DELETED" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_ASSET_EXPIRE" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_SYNC_WITH_SERVER" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_PLAY_START" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_STREAM_PLAY_START" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_PLAY_STOP" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_STREAM_PLAY_STOP" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_RESET" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_SUBSCRIBE" />
	    		<action android:name="com.penthera.virtuososdk.provider.sdkdemo.EVENT_UNSUBSCRIBE" />
	    	</intent-filter>
	    </receiver>

		<service
			android:name="com.penthera.sdkdemo.push.DemoFCMInstanceIdService"
			android:exported="false">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>

		<service
			android:name="com.penthera.sdkdemo.push.DemoFCMService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>

		<amazon:enable-feature
			android:name="com.amazon.device.messaging"
			android:required="false"/>

		<service
			android:name="com.penthera.sdkdemo.push.DemoADMService"
			android:exported="false" />

		<receiver
			android:name="com.penthera.sdkdemo.push.DemoADMService$DemoADMReceiver"
			android:permission="com.amazon.device.messaging.permission.SEND" >

			<!-- To interact with ADM, your app must listen for the following intents. -->
			<intent-filter>
				<action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
				<action android:name="com.amazon.device.messaging.intent.RECEIVE" />

				<!-- Replace the name in the category tag with your app's package name. -->
				<category android:name="com.penthera.sdkdemo" />
			</intent-filter>
		</receiver>

		<service
			android:name="com.penthera.sdkdemo.SdkDemoSubscriptionsService"
			android:enabled="true">
		</service>

    </application>


</manifest>
