html {
	background: #fcfcfc;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

html.fancy {
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

html.fancy body {
	overflow: hidden;
}

body, .descriptionOverview, div.useDescription {
	font-family: Lucida, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #404040;
	font-size: 10pt;
}

noscript div {
    padding: 10px;
}

#topNavBar {
	width: 100%;
	min-width: 0;
	overflow: hidden;
	background: #406040;
	min-height: 0;
	position: relative;
}

#dataArea {
	width: 100%;
	min-width: 0;
	height: 400px;
	overflow: auto;
	padding: 0px;
	min-height: 0;
	position: relative;
	clear: both;
}

#innerBody, #content, div.summary {
	min-height: 0;
	position: relative;
}

.NavBarCell1 {
	background: #ddeedd;
}

.NavBarCell2 {
	font-size: 8pt;
}

.NavBarCell3 {
	font-size: 7pt;
}

.navBar a {
	color: #404040;
}

a.header {
	color: #000000;
}

div.navigationLine1 {
	background: #303030;
	padding: 2px 10px 5px 10px;
	min-height: 0;
}

div.navigationLine2 {
	background: #303030;
	margin-top: 10px;
	padding: 6px 10px 6px 10px;
	min-height: 0;
}

.navigationLinks, .pageControls, .indexControls, .pageControls a.code, .navBarButton a.code {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
}

.navigationLinks {
	padding: 2px 2px 5px 2px;
	margin: 0px 20px 0px 5px;
	display: inline;
}

.navBarButton {
	text-decoration: none;
	display: inline;
	padding: 2px 4px 2px 4px;
	color: #a0a0a0;
	margin-left: 2px;
}

.navBarButton.active {
	background: #c0c0c0;
}

.pageControls a, .indexControls a, .navBarButton a {
	text-decoration: none;
	padding: 2px;
}

.navBarButton.inactive a {
	color: #a0a0a0;
}

.navBarButton.active a {
	background: #c0c0c0;
	color: #202020;
}

.navBarButton.selected, .navBarButton.selected a {
	background: #448844;
	color: #ffffff;
}

.pageControls a, .indexControls a {
	background: #c0c0c0;
	color: #202020;
}

span.radioButton {
	text-decoration: none;
	padding: 2px;
	background: #c0c0c0;
	color: #202020;
	cursor: default;
	margin-left: 4px;
}

span.disabled {
	background: #808080;
	color: #404040;
}

span.selected {
	background: #448844;
	color: #ffffff;
}

.pageTitle {
	padding: 0px 10px 0px 15px;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	height: 56px;
	float: left;
}

.pageTitle > span {
    vertical-align: middle;
    position: relative;
}

.pageTitle .packagePrefix {
	font-size: 10pt;
}

.userTitle {
	float: right;
	padding: 0px 15px 0px 5px;
	color: #ffffff;
	font-size: 8pt;
	font-style: italic;
	height: 56px;
}

.userTitle em {
	vertical-align: middle;
    position: relative;
}

.navigationLine2 {
    clear: both;
}

.pageControls, .indexControls {
	display: inline;
	margin: 0px 20px 0px 20px;
	color: #a0a0a0;
}

noscript p {
	color: #ff0000;
}

a.code, code, td.type, table.use td.colFirst a, table.use td.colOne > a {
	font-family: Arial, Helvetica, sans-serif;
	color: #005000;
}

.constantValuesContainer code {
    color: #000000;
}

a.code, table.use td.colFirst a, table.use td.colOne > a {
    text-decoration: none;
}

td.colFirst a, table.use td.colOne > a {
    font-weight: bold;
}

td.type {
	font-size: 9pt;
	vertical-align: top;
	text-align: right;
}

a.usingPackage, a.packageDefinition {
	font-weight: bold;
}

.classIndexHeader h4 {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 10px;
}

.classIndex h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

.packageIndexHeading h4 {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	margin-bottom: 5px;
}

.packageIndex h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin-bottom: 5px;
	padding-bottom: 0px;
}

.packageIndex a, .classIndex a, body.constantsPage .header ul a, body.treePage .header ul a, .deprecatedPage .header ul a {
	font-family: Arial, Helvetica, sans-serif;
	color: #004000;
}

body.constantsPage .header ul a, body.treePage .header ul a, .deprecatedPage .header ul a {
    text-decoration: none;
    font-weight: bold;
}

.classIndexHeader a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

.inheritedMembersSelector, .deprecatedSelector, .accessViewSelectors {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #c0c0c0;
	padding: 2px;
	margin: 10px 0px 10px 0px;
}

.deprecatedSelector, .accessViewSelectors {
	margin-left: 50px;
}

.entitySelectors {
	margin-top: 2px;
	padding: 4px 10px 0px 10px;
}

.showHideLinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #404040;
	text-decoration: none;
	display: inline;
}

.showHideLinkImage {
	width: 9px;
	height: 9px;
}

div.entitySelectors select, select#packageSelector, select#packageClassSelector {
	width: 140px;
}

div.indexNavigation {
	margin-top: 10px;
	background: #303030;
	padding: 8px 10px 8px 10px;
}

div.indexNavigation > a {
	padding: 2px;
	margin: 0px 5px 0px 5px;
	background: #c0c0c0;
	text-decoration: none;
	color: #404040;
}

ul.blockList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.indexContainer ul {
    list-style-type: none;
    padding: 2px 4px 2px 4px;
    margin: 0px;
}

body.packageUsePage #content .header,
body.packageTreePage #content .header,
body.packagePage #content .header .title,
body.overviewPage #content .header h1,
body.classPage #content .header,
body.annotationTypePage #content .header,
body.annotationTypePage #content .description > ul > li > hr,
body.deprecatedPage #content .header h1,
body.allClassesPage h1.bar,
body.constantsPage h1.title,
body.treePage h1.title,
body.serializedFormPage h1.title,
body.classUsePage h2.title,
tr.columnHeaders th,
body.deprecatedPage span.deprecatedPhrase,
.categoryList .summaryHeader
{
    display: none;
    visibility: hidden;
}

body.packageTreePage .contentContainer ul,
body.deprecatedPage .header ul,
body.constantsPage .header ul,
body.treePage .header ul {
    list-style-type: none;
}

body.treePage .header li {
    display:inline;
}

body.indexPage #content,
body.splitIndexPage #content,
body.helpPage #content,
body.allClassesPage #content,
div.description,
div.classInheritance,
div.overviewHeader,
div.overview,
div.deprecatedOverview,
div.constantPackageList,
.inheritedMemberSummary code,
body.packageTreePage .legalCopy,
body.treePage .legalCopy,
body.treePage div.header,
body.deprecatedPage div.header,
body.deprecatedPage .legalCopy,
body.constantsPage div.header,
body.constantsPage .legalCopy,
body.overviewPage .legalCopy,
body.classPage .legalCopy,
body.annotationTypePage .legalCopy,
body.serializedFormPage .legalCopy,
body.packagePage .legalCopy,
body.classUsePage .legalCopy,
body.packageUsePage .legalCopy,
div.packageOverview div.block,
div.classUseContainer.empty,
div.contentContainer.empty
{
	padding: 5px;
}

.inheritedMemberSummary code
{
    display: block;
}

body.deprecatedPage td {
	padding-left: 5px;
}

.summaryTable {
	margin-top: 30px;
	margin-bottom: 10px;
	border: 0px;
}

table.summaryTable {
    width: 100%;
}

.tableHeader,
.sectionHeader,
.summaryHeader,
table.category > caption,
.classUseInPackage,
.constantsPackageHeader,
.memberDetailHeader,
.classUseContainer h3,
.constantValuesContainer h2,
.serializedFormContainer h3 .sectionHeader,
.packageOverview > h2,
.footer > h2,
.treePage h2,
.packageTreePage h2
{
 	background: #aaccaa;
 	color: #000000;
 	text-align: left;
 	font-size: 18pt;
 	font-weight: bold;
 	border-top: 2px solid #606060;
 	border-bottom: 2px solid #606060;
	border-left: 0px solid #606060;
	border-right: 0px solid #606060;
	margin: 20px 0 0 0;
 	padding-left: 10px;
 	padding-bottom: 2px;
	min-height: 0;
}

table.category > caption {
 	border-bottom: 0;
}

span.classPackageName {
	font-size: 10pt;
}

div.classUseInPackage {
	margin-top: 20px;
	margin-bottom: 10px;
}

div.useSummary div.summaryHeader,
{
 	font-size: 11pt;
 	border-top: 1px solid #606060;
 	border-bottom: 1px solid #606060;
 	margin-top: 20px;
}

table.category > caption {
 	font-size: 18pt;
 	font-weight: bold;
 	background: #aaccaa;
 	color: #000000;
    margin-bottom: 0;
}

table.summaryTable th.categoryDescription {
	margin-top: 10px;
	padding-left: 10px;
 	font-size: 10pt;
 	font-weight: normal;
 	text-align: left;
 	background: #aaccaa;
 	color: #000000;
 	border-bottom: 2px solid #606060;
}

table.categoryWithoutDescription > caption {
 	border-bottom: 2px solid #606060;
}

.sectionHeader {
	margin-top: 20px;
}

.inheritedMemberSummary .tableHeader,
table.use .tableHeader,
table.classConstantsSummary .tableHeader,
.serializedFormContainer h3,
.constantValuesContainer caption
{
 	font-size: 11pt;
 	font-weight: bold;
	margin: 10px 0px 10px 0px;
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
 	padding-left: 10px;
 	padding-bottom: 2px;
}

table.use .tableHeader, .constantValuesContainer .tableHeader  {
    margin: 0;
	border-top: 2px solid #606060;
	border-bottom: 2px solid #606060;
}

.serializedFormContainer ul ul ul h3
{
 	background: #eeffee;
}

.serializedFormContainer ul ul ul ul, dl.serialUID {
    padding-left: 5px;
}

.signature, span.memberTitle, div.classSignature, .inheritance {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #000000;
}

div.signature {
	padding: 2px 2px 10px 2px;
	min-height: 0;
}

div.classSignature {
    margin: 15px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
	white-space: pre;
	background: #e0f0e0;
	border: 1px solid #606060;
	display: table;
}

div.inheritance {
	white-space: pre;
}

div.memberDetail div.signature {
	padding: 0px;
	font-weight: normal;
	color: #404040;
	margin-bottom: 10px;
}

.descriptionDetail div.signature {
	padding: 2px 0px 2px 0px;
}

div.signature {
	white-space: pre;
}

span.memberTitle, .itemTitle, span.overriddenMemberName, span.inheritedMemberName {
	font-size: 9pt;
	font-weight: bold;
	color: #005000;
}

table.summaryTable tr {
	border-bottom: 1px solid #aaaaaa;
	padding: 0px;
	min-height: 0;
}

table.summaryTable {
	background: #f0f0f0;
}

table.packageSummary td a {
 	font-weight: bold;
}

.serializedFormContainer ul li ul li ul li ul li.blockList
{
	border-bottom: 1px solid #aaaaaa;
}

.descriptionOverview {
	position: relative;
}

img.inheritedMember, img.overriddenMember {
	position: relative;
	top: 2px;
}

span.inheritedMemberName a, span.overriddenMemberName a {
	text-decoration: none;
}

.tableHeader a, h3 a {
    text-decoration: none;
}

.tableHeader a:link, .tableHeader a:visited, h3 a:link, h3 a:visited {
    color: #004000;
}

.itemName,
.itemNameCell
{
	width: 300px;
	padding: 5px 10px 2px 5px;
	vertical-align: text-top;
}

table.use td.colFirst,
table.packages td.colFirst
{
	width: 150px;
	padding: 5px 10px 2px 5px;
	vertical-align: text-top;
}

.constantsPage .summaryTable td {
    width: 33%;
}

.constantsPage .summaryTable td.colFirst {
	padding-left: 5px;
}

.itemName span.itemTitle, .itemNameCell span.itemTitle {
	word-wrap: break-word;
}

.descriptionOverview, .descriptionDetail, div.useDescription {
	padding: 2px 5px 5px 2px;
}

div.memberDetail, p.serialUID, .contentContainer > .tagSection {
	margin-left: 5px;
	margin-right: 5px;
}

/* Member signatures are implemented as pop up windows. */

div.rollover {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 4px 2px 4px 2px;
	z-index: 1;
	white-space: normal;
	background: #f8f8e8;
}

.member .descriptionOverview {
	position: relative;     /* support rollover signature */
}

.member div.rollover {
	top: -5px;
	padding: 10px;
	border: 1px solid #000000;
}

.member > div.signature .revealDetail {
	display: none;
}

.member > div.signature .hideDetail {
	display: none;
}

div.useDescription div.signature {
	display: none;
}

span.annotation {
    color: #606060;
}

.member dl {
	margin: 8px 0px 0px 0px;
	padding: 0px;
}

.member dd {
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

.member dd dd {
	margin: 2px 0px 2px 0px;
	padding-left: 100px;
	text-indent: -80px;
}

.member dt {
	margin: 5px 0px 0px 0px;
	padding: 0px;
}

img.hideDetail {
	display: none;
}

img.revealDetail {
	display: inline;
}

.deprecated {
	background: #cccccc;
}

.subclass {
	background: #ccccaa;
}

.subclass.deprecated {
	background: #bbbbaa;
}

.package {
	background: #ccbbbb;
}

.implementation {
	background: #bb8888;
}

td.memberMarker {
    width: 11px;
    vertical-align: top;
}

.selectedMember > td.memberMarker {
    background: #ffff00;
}

.selectedMember.public {
	background: #ffffee;
}

table.use .tableHeader {
	background: #eeffee;
}

tr.columnHeaders th {
	text-align: center;
	font-size: 80%;
	font-weight: bold;
	color: #808080;
}

table.classConstantsSummary {
	margin-left: 10px;
	margin-top: 20px;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-bottom: 0px solid #aaaaaa;
}

table.summaryTable th, table.summaryTable td {
	border-left: 0px solid #aaaaaa;
	border-right: 0px solid #aaaaaa;
	border-top: 0px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

table.nobreak th, table.nobreak td {
	border: 0px;
}

h1.pageHeader {
	text-align: center;
}

ul.inheritance {
    margin:0;
    padding:0;
}

ul.inheritance li {
    display: inline;
    list-style: none;
}

ul.inheritance li ul.inheritance {
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 1px;
}

.FrameTitleFont, .FrameHeadingFont, .FrameItemFont {
	font-family: Lucida, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #000000;
}

.FrameHeadingFont, .FrameItemFont {
	font-size: 90%;
}

.block {
    display: block;
    margin: 0 0 0 0;
}

p {
    margin: 6px 0 4px 0;
}

h2 {
    margin-bottom: 10px;
}

.strong, .deprecatedPhrase {
    font-weight: bold;
}

.legalCopy {
	margin-top: 10px;
    font-size: 8pt;
}

.legalCopy p {
	margin-top: 5px;
}

.contentContainer .description dl dt,
.contentContainer .details dl dt,
.serializedFormContainer dl dt {
    font-weight: bold;
    margin: 10px 0 2px 0;
    color: #4E4E4E;
}

.serializedFormContainer dl.nameValue dt {
    margin-left: 1px;
    display: inline;
    font-weight: bold;
}

.hidden {
	display: none;
	visibility: hidden;
}

.invisible {
	visibility: hidden;
}
